.vscode/**
.vscode-test/**
.github/**
src/**
test/**
dev/**
scripts/**
node_modules/**
out/**
coverage/**
**/*.map
**/*.ts
**/*.tsbuildinfo
*.vsix
.gitignore
tsconfig.json
vitest.config.ts
package-lock.json
